* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(146,146,146);
}

ul {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

input {
}

button {
    border: none;
    background: none;
}

.avatar{
    margin-right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#sidebar{
    position: fixed;
    z-index: 10;
    overflow: hidden;
    width: 70px;
    height: 100vh;
    padding: 20px 25px;
    background: rgb(46,46,46);
    transition: all 0.3s ease-in-out;
}

#sidebar.active{
    width: 270px;
}

#sidebar ul{
    width: 270px;
}

#sidebar ul li a{
    margin: 40px 0;
    color: #fff;
    font-size: 18px;
}

#sidebar ul li a img, .logout-link  img{
    width: 20px;
    height: 20px;
    margin-right: 30px;
}

.logout-link{
    position: absolute;
    bottom: 30px;
    width: 270px;
    color: #fff;
    font-size: 18px;
}

#main{
    position: absolute;
    left: 70px;
    width: calc(100% - 70px);
    transition: all 0.3s ease-in-out;
}

#main.active{
    width: calc(100% - 270px);
    left: 270px;
}

#topbar{
    z-index: 1000;
    display: flex;
    height: 60px;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(238, 237, 237);
    background-color: #fff;
}

#sidebar-btn img{
    font-size: 30px;
    cursor: pointer;
}

.topbar-left-container{
    position: relative;
    display: flex;
    align-items: center;
}

.topbar-left-container .name{
    font-weight: 700;
    margin-right: 20px;
}